@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-fredoka), sans-serif;
}

@keyframes walk {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(var(--endX));
  }
}

.animate-walk {
  animation-name: walk;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 20000ms; /* Fallback, overwritten by inline style */
  animation-play-state: paused;
}

.animate-paused {
  animation-play-state: paused;
}

.animate-running {
  animation-play-state: running;
}

.fade-out-text {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.page-transition {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: 40;
}

.page-transition.active {
  opacity: 1;
  backdrop-filter: blur(6px);
}
